.animal-headings {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.animal-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.animal-row > a {
    color: grey;
    border-radius: 20px;
}

.animal-row > a:hover {
    color: black;
}

.animal-row > a:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }

.animal-col1{
    padding: 3px;
    text-align: center;
}
.animal-col2{
    padding: 3px;
    text-align: center;
}
.animal-col3{
    padding: 3px;
    text-align: center;
}
.animal-col4{
    padding: 3px;
    text-align: center;
}
.animal-col5{
    padding: 3px;
    text-align: center;
}