
.appt-headings {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.appt-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.appt-col1{
    padding: 3px;
    text-align: center;
}
.appt-col2{
    padding: 3px;
    text-align: center;
    
}
.appt-col3{
    padding: 3px;
    text-align: center;
}
.appt-col4{
    padding: 3px;
    text-align: center;
}