.content-header {
    text-align: center;
}
.content-header > h1{
    font-family: MyVirgilWebFont;
    font-size: 2em;
    text-decoration-line: underline;
    margin: 6px;
    margin-bottom: 12px;
}
.sort-bar{
    height: fit-content;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}
.sort-bar > h4 {
    margin: 5px;
    margin-bottom: 7.5px;
}
.sort-row > form > label{
    font-family: MyVirgilWebFont;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#large-content-container {
    border-style: double;
    border-radius: 20px;
    border-width: 7px;
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px;
    max-width: 90%;
}
#large-content-container h1 {
    margin: 8px;
    font-family: MyVirgilWebFont;
    font-size: 2em;
    text-align: center;
    text-decoration-line: underline;
}
#content-container {
    border-style: double;
    border-radius: 20px;
    border-width: 7px;
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px;
    width: 350px;
}
#content-container h1 {
    margin: 8px;
    font-family: MyVirgilWebFont;
    font-size: 2em;
    text-align: center;
    text-decoration-line: underline;
}

a {
    color: grey;
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 10px;
}

a:hover {
    color: black;
}

a:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
input[type=text] {
    padding: 2px;
    margin: 4px;
    font-family: MyVirgilWebFont;
}
select {
    padding: 2px;
    margin: 4px;
    font-family: MyVirgilWebFont;
}
.headings {
    font-family: MyVirgilWebFont;
    font-size: 22px;
    font-weight: bolder;
    word-wrap: break-word;
    display: grid;
}

.row1 {
    font-family: MyVirgilWebFont;
    font-size: 17px;
    word-wrap: break-word;
    color: grey;
    display: grid;  
    
}
.row2 {
    font-family: MyVirgilWebFont;
    font-size: 17px;
    word-wrap: break-word;
    color: black;
    display: grid;    
}
.row2 > a {
    color: black;
}
.row2 > a:hover {
    color: grey;
}

.primary-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.secondary-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
select option {
    background-color: white !important;
    font-family: MyVirgilWebFont;
}