#container {
    border-style: double;
    border-radius: 20px;
    border-width: 7px;
    padding: 20px;
}
#container h1 {
    margin: 8px;
    font-family: MyVirgilWebFont;
    font-size: 2em;
    text-align: center;
    text-decoration-line: underline;
}

#container > div > a {
    color: black;
    border-radius: 20px;
}

#container > div > a:hover {
    color: grey
}

#container > div > a:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }

.headings {
    font-family: MyVirgilWebFont;
    font-size: 22px;
    font-weight: bolder;
    word-wrap: break-word;
    display: grid;
}

.row {
    font-family: MyVirgilWebFont;
    font-size: 20px;
    word-wrap: break-word;
    color: grey;
    display: grid;
}