

#home-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-width: 6px;
    border-color: black;
    border-style: double;
    border-radius: 20px;
    margin: 16px;
    padding-bottom: 10px;
    height: fit-content;
    width: 380px;
}

#home-container > h1 {
    margin: 8px;
    font-family: MyVirgilWebFont;
    font-size: 2em;
    text-align: center;
    text-decoration-line: underline;
}

