

#content-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-width: 6px;
    border-color: black;
    border-style: double;
    border-radius: 20px;
    margin: 16px;
    padding-bottom: 10px;
    height: fit-content;
    width: 400px;
}

#content-container > h1 {
    margin: 8px;
    font-family: MyVirgilWebFont;
    font-size: 2em;
    text-align: center;
    text-decoration-line: underline;
}

#content-container > form > button {
    font-family: MyVirgilWebFont;
    padding: 2px;
    margin: 5px;
    font-size: 1.5em;
    background-color: white;
    border: none;
    border-radius: 20px;
    display: table-cell;
    vertical-align: middle;
    height: fit-content
}

.button:hover {
    color: #737773;
    text-decoration-line: underline;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#button-content {
    display: flex;
    justify-items: center;
    align-items: center;
}

#button-content > img {
    height: 65px;
    width: 65px;
    margin-left: 10px;
    margin-right: 20px;
}

#button-content > h3 {
    margin: 0;
    margin-right: 20px;
}