@font-face {
  font-family: 'MyVirgilWebFont';
  src:  url('../fonts/Virgil.woff2') format('woff2');
}

.big-button {
  font-family: MyVirgilWebFont;
  padding: 2px;
  margin: 5px;
  font-size: 1.5em;
  background-color: white;
  border: none;
  border-radius: 20px;
  display: table-cell;
  vertical-align: middle;
  height: fit-content
}

.big-button:hover {
  color: #737773;
  text-decoration-line: underline;
}

.big-button:active {
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.big-button > #button-content > img {
  height: 65px;
  width: 65px;
  margin-left: 10px;
  margin-right: 20px;
}

.big-button > #button-content {
  display: flex;
  justify-items: center;
  align-items: center;
}

.big-button > #button-content > h3 {
  margin: 0;
  margin-right: 20px;
}

.small-button {
  font-family: MyVirgilWebFont;
  padding: 2px;
  margin: 5px;
  font-size: 1em;
  color: grey;
  background-color: white;
  border: none;
  border-radius: 20px;
  display: table-cell;
  vertical-align: middle;
  height: fit-content
}

.small-button:hover {
  color: black;
}

.small-button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.small-button > #button-content > img {
  width: 30px;
  height: auto;
}

.small-button > #button-content {
  display: flex;
  justify-items: center;
  align-items: center;
}
.small-button > #button-content > h3 {
  margin: 10px;
}

.small-button-row {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}


