.view-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.view-val {
    font-family: MyVirgilWebFont;
    font-size: 20px;
    word-wrap: break-word;
    color: grey;
    display: grid;
}

.view-img {
    display: flex;
    justify-content: space-evenly;
}

.view-row > a {
    font-family: MyVirgilWebFont;
    font-size: 20px;
    word-wrap: break-word;
    color: grey;
}



