{% extends "base.html" %}
{% block content %}

    <section id="content-container">
        <h1>Appointments</h1>
        <button class="add-button">
            <div id="button-content">
                <img src="../static/img/base/add_button.png"></i>
                <h3>Add Appointment</h3>
            </div>
        </button>
        <button class="view-button">
            <div id="button-content">
                <img src="../static/img/base/view_button.png"></i>
                <h3>View All Appointments</h3>
            </div>
            
        </button>
    </section>
    <section id="content-container">
        <h1>The Animals</h1>
        <button class="add-button">
            <div id="button-content">
                <img src="../static/img/base/add_button.png"></i>
                <h3>Add New Animal</h3>
            </div>
            
        </button>
        <button class="view-button">
            <div id="button-content">
                <img src="../static/img/base/view_button.png"></i>
                <h3>View All Animals</h3>
            </div>
            
        </button>
    </section>
    <section id="content-container">
        <h1>Owners</h1>
        <button class="add-button">
            <div id="button-content">
                <img src="../static/img/base/add_button.png"></i>
                <h3>Add An Owner</h3>
            </div>
            
        </button>
        <button class="view-button">
            <div id="button-content">
                <img src="../static/img/base/view_button.png"></i>
                <h3>View All Owners</h3>
            </div>
            
        </button>
    </section>
    <section id="content-container">
        <h1>The Vets</h1>
        <button class="add-button">
            <div id="button-content">
                <img src="../static/img/base/add_button.png"></i>
                <h3>Add Vet</h3>
            </div>
            
        </button>
        <button class="view-button">
            <div id="button-content">
                <img src="../static/img/base/view_button.png"></i>
                <h3>View All Vets</h3>
            </div>
            
        </button>
    </section>

{% endblock %}