{% extends 'base.html' %}

{% block content %}
<div class="content-header"><h1>View Vet</h1></div>
<div id="container">
    <section id="content-container">
        <div class="view-img">
            <img src="../../static/img/icons/user.png">
        </div> 
        <div class="view-row">
            <div class="headings">{{vet.get_headings()[0]}}:</div>
            <div class="view-val">{{vet.get_name()}}</div>
        </div>
    
        <div class="small-button-row">
            <form action="/vets/{{ vet.id }}/edit" method="GET">
                <button class="small-button">
                    <div id="button-content">
                        <img src="../../static/img/icons/edit.png">
                        <h3>Edit</h3>
                    </div>
                </button>
            </form>
            <form action="/vets/{{ vet.id }}/delete" method="POST">
                <button class="small-button">
                    <div id="button-content">
                        <img src="../../static/img/icons/delete.png">
                        <h3>Delete</h3>
                    </div>
                </button>
            </form>
        </div>
    </section>
</div>

    
{% endblock content %}
