{% extends 'base.html' %}

{% block content %}
<section id="container">
    <div class="view-img">
        <img src="../../static/img/icons/user.png">
    </div> 
    <div class="view-row">
        <div class="headings">{{owner.get_headings()[0]}}:</div>
        <div class="view-val">{{owner.get_name()}}</div>
    </div>
    <div class="view-row">
        <div class="headings">{{owner.get_headings()[1]}}:</div>
        <div class="view-val">{{owner.get_email()}}</div>    
    </div>
    
    <div class="view-row">
        <div class="headings">{{owner.get_headings()[2]}}:</div>
        <div class="view-val">{{owner.get_phone()}}</div>    
    </div>

    <div class="small-button-row">
        <form action="/owners" method="GET">
            <button class="small-button">
                <div id="button-content">
                    <img src="../../static/img/icons/edit.png">
                    <h3>Edit</h3>
                </div>
            </button>
        </form>
        <form action="/owners" method="GET">
            <button class="small-button">
                <div id="button-content">
                    <img src="../../static/img/icons/delete.png">
                    <h3>Delete</h3>
                </div>
            </button>
        </form>
    </div>

    
</section>
    
{% endblock content %}
