{% extends 'base.html' %}

{% block content %}
<div class="content-header"><h1>View All Animals</h1></div>
<div id="container">
    <section id="content-container">
        <div class="headings animal-headings">
            <div class="animal-col1">{{headings[0]}}</div>
            <div class="animal-col2">{{headings[1]}}</div>
            <div class="animal-col3">{{headings[2]}}</div>
            <div class="animal-col4">{{headings[3]}}</div>
            <div class="animal-col5">{{headings[4]}}</div>
        </div>
    
        {% for animal in all_animals %}
            <div class="row animal-row">
                <a href="/animals/{{ animal.get_id() }}"><div class="animal-col1">{{animal.get_name()}}</div></a>
                <div class="animal-col2">{{animal.get_species()}}</div>
                <div class="animal-col3">{{animal.get_dob()}}</div>
                <div class="animal-col4">{{animal.get_owner()}}</div>
                <div class="animal-col5">{{animal.get_vet()}}</div>
            </div>
        {% endfor %}
        <div class="small-button-row">
            <form action="/animals/add" method="GET">
                <button class="small-button">
                    <div id="button-content">
                        <img src="../../static/img/icons/add_button.png">
                        <h3>Add New Animal</h3>
                    </div>
                </button>
            </form>
        </div>
    </section>
</div>

{% endblock content %}