@font-face {
  font-family: 'MyVirgilWebFont';
  src:  url('../static/fonts/Virgil.woff2') format('woff2');
}

body {
    margin: 0;
  }
  
  header {
    padding: 16px;
    background-color: white;
    text-align: left;
    grid-area: header;
    border-width: 0 0 10px 0;
    border-color: black;
    border-style: double; 
  }

  #header-container{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-end;
      width: 70%;
      margin: auto;
  }

  /* #right-container {
    
  } */

  #right-text-container > h1 {
    font-family: MyVirgilWebFont;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin: 0;
  }

  #left-text-container > h1 {
    font-family: MyVirgilWebFont;
    font-size: 6em;
    color: rgb(0, 0, 0);
    margin: 0;
  }

  #logo-container {
    height:auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
  }

  #right-container {
    display: inline-block;
    align-items: flex-end;

  }

  
  #menu {
    padding: 32px;
    background-color: white;
    border-width: 0 10px 0 0;
    border-color: black;
    border-style: double; 
    grid-area: menu;
  }
  #blank {
    background-color: white;
    border-width: 0 0 0 10px;
    border-color: black;
    border-style: double; 
    grid-area: blank;
  }
  
  nav {
    margin-top: 19.92px;
    display: flex;
    flex-flow: column nowrap;
    align-items: right;
    font-family: MyVirgilWebFont;
    font-size: 2em;
  }

  nav > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  #main-content {
    padding: 32px;
    grid-area: main;
  }
  
  footer {
    padding: 16px;
    background-color: white;
    border-width: 10px 0 0 0;
    border-color: black;
    border-style: double; 
    grid-area: footer;
  }
  
  #grid-container {
    display: grid;
    grid-template-areas:
      'header header header'
      'menu main blank'
      'footer footer footer';
    grid-template-columns: 2fr 9fr 2fr;
  }